<form>

    <h1>EDITAR USUARIO</h1>
    

    
     <div class="forms">
    
        <mat-form-field class="form" appearance="fill">
            <mat-label>NOME</mat-label>
            <input [(ngModel)]="users.nome" name="users.nome" matInput placeholder="NOME">
          </mat-form-field>
        
          <mat-form-field class="form" appearance="fill">
            <mat-label>SENHA</mat-label>
            <input [(ngModel)]="users.senha" name="users.senha" matInput placeholder="PERFIL" disabled="true">
          </mat-form-field>

          <mat-form-field class="form" appearance="fill">
            <mat-label>PERFIL</mat-label>
            <input [(ngModel)]="users.perfil" name="users.perfil" matInput placeholder="PERFIL">
          </mat-form-field>

          
          <mat-form-field class="form" appearance="fill">
            <mat-label>TELEFONE</mat-label>
            <input [(ngModel)]="users.telefone" name="users.telefone" matInput placeholder="Telefone">
          </mat-form-field>

                    
          <mat-form-field class="form" appearance="fill">
            <mat-label>EMAIL</mat-label>
            <input [(ngModel)]="users.email" name="users.email" matInput placeholder="email">
          </mat-form-field>
    
     </div>
    
     <div class="buttons">
        <button  (click)="update()"  mat-stroked-button color="primary">ATUALIZAR</button>
        <button (click)="cancelar()"mat-stroked-button color="warn">CANCELAR</button>
    
    
     </div>
    
    </form>
    