.container {
    width: 85%;
    margin: auto;
}

.badge{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge button{
    margin: auto;
    width: 100%;
}



.header button{
    margin: auto;
    background-color: rgba(161, 160, 160, 0.185);
    width: 100%;
    margin-top: 1rem;
    text-align: left;
}


.lateral {
    width: 25%;
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 1rem;
    height: 100vh
    }


.infoCenter mat-card{
    width: 80%;
    margin-left: .3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
    padding: .2rem;
}

.infoCenter {

    display: block;
    justify-content: center;
    align-items: center;
    margin-top: .8rem;
    margin-right: .2rem;
    margin-left: 10rem;
    padding: .2rem;
    
    
}


.novo-todo{
    margin-top: .8rem;
    width: 100%;
    margin: .1rem;
 
    
}



p{
    text-align: end;
    font-weight: 600;
    color: rgb(114, 111 ,111);
    margin-bottom: 0;
}

.actions{

    text-align: end;
}

.actions button{
    margin: .3rem;
    
}


.content{
    width: 100%;
    margin-top: -15rem;
    
}